.prompt-enhancer-button {
  position: relative;
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  border-color: #c832e3;
}

.prompt-enhancer-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(7px);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  animation: glowing 30s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 9999px;
  opacity: 0.5;
}


.prompt-enhancer-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 9999px;
}


.prompt-enhancer-button-wrapper {
  position: relative;
}

.prompt-enhancer-back-button {
  position: absolute;
  top: -20%;
  left: -10px;

  width: 24px;
  height: 24px;

  background: #303030;
  display: none;
}


.prompt-enhancer-button[data-original-prompt] .prompt-enhancer-back-button {
  display: flex
}

.prompt-enhancer-button[data-loading="true"] .loader {
  display: block
}

.prompt-enhancer-button[data-loading="true"] .magic-icon {
  display: none
}

.prompt-enhancer-button[data-loading="false"] .loader {
  display: none
}

.prompt-enhancer-button[data-loading="false"] .magic-icon {
  display: block
}

.loader {
  width: 18px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #ffffff40;
  border-right-color: #fff;
  animation: loading 1s infinite linear;
}

[data-testid="composer-footer-actions"] {
  padding-top: 20px;
  margin-top: -20px;
}

@keyframes loading {
  to {
    transform: rotate(1turn)
  }
}


@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
