.prompt-enhancer-button {
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  border-color: #c832e3;
}

.prompt-enhancer-button-wrapper {
  position: relative;
}

.prompt-enhancer-back-button {
  position: absolute;
  top: -20%;
  left: -20%;

  width: 24px;
  height: 24px;

  background: #303030;
  display: none;
}


.prompt-enhancer-button[data-original-prompt] .prompt-enhancer-back-button {
  display: flex
}

.prompt-enhancer-button[data-loading="true"] .loader {
  display: block
}

.prompt-enhancer-button[data-loading="true"] .magic-icon {
  display: none
}

.prompt-enhancer-button[data-loading="false"] .loader {
  display: none
}

.prompt-enhancer-button[data-loading="false"] .magic-icon {
  display: block
}

.loader {
  width: 18px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #ffffff40;
  border-right-color: #fff;
  animation: loading 1s infinite linear;
}

[data-testid="composer-footer-actions"] {
  padding-top: 20px;
  margin-top: -20px;
}

@keyframes loading {
  to {
    transform: rotate(1turn)
  }
}
